.about {
    padding: 60px 100px;

    @include media-tablet {
        text-align: center;

        & .layout-3-columns {
            flex-wrap: nowrap;
            justify-content: center;
            overflow: hidden;
        }
    }
}

.about__title {
    margin: 0;
}

.about__description {
    margin: 14px 0 45px;
    font-weight: normal;
}