.navigation {
    display: flex;
    font-size: 1.5rem;
    line-height: 2.8rem;
}

.navigation__title {
    @include font ($size: 2rem, $height: 3rem, $weight: 600);
}

.navigation__link {
    list-style: none;
    padding: 0 10px;
    cursor: pointer;

    a {
        color: $color-heading;
        text-decoration: none;
        @extend %transition;

        &:hover {
            color: $color-primary;
        }
    }

}