.strategies {
    padding: 0;

    @include media-tablet {
        padding-top: 50px;
        text-align: center;
    }
}

.strategies__title {
    margin: 0 0 14px;
}

.strategies__description {
    font-weight: normal;
    margin: 0 0 24px;
}

.strategies__tags {
    margin-bottom: 30px;

    @include media-tablet {
        justify-content: center;
    }
}