%transition {
    transition: 0.3s ease-out;
}

%font-primary {
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

%font-additional {
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
}

%block-shadowed {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
}