.header {
    padding: 15px 0;
    background: $color-light;
    filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.05));

}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__buttons {
    font-size: 0;

    .button:first-child {
        margin-right: 14px;
    }
}